/*
body{
  background-color: #2e2e38;
}
*/

* {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px
}

.stucture {
 background-color: #2e2e38;
 width: 100%;
 height: 550px
}

#preloader{
  transform: translate(50%,50%);
  width: 50%;
  height: 1%;
  /*overflow-x: hidden;*/
}
      
p{
  /*color: white;*/
}
      
#preloading{
  transform: translate(50%,50%);
  font-size: 20px;
}

#scorpioLogo{
  transform: translate(151%,15%);
  width: 200px;
  height: 200px;
}

/*#app-mount{
  width: 100%;
  height: 100%;
}*/

/* get from Chat do fod*se */
#chat {
  height: 10%;
  width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: auto;
}

.messages {
  width: 30%;
  height: 10%;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: dark;
}

/* ending css of the other chat */

#messagetext{
  width: 30%;
  height: 10%;
}