html,body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    /*overflow: hidden;*/
}

a{
    text-decoration: none;
    cursor: pointer;
}

#preloader{
    width: 50%;
    height: 1%;
}
    
#preloading{
    transform: translate(50%,50%);
    font-size: 20px;
}

#scorpioLogo{
    transform: translate(151%,15%);
    width: 200px;
    height: 200px;
}

#app-mount-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}